{% extends 'admin_panel/base.html' %}
{% load static %}
{% load main_templates_tags %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
    
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">List View</h5>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto d-flex ">
                                <a href="{% url 'other_expences:print_other_expenses' %}" class="btn btn-outline-warning btn-sm mb-0 mx-1" target="_blank"><i class="ri-printer-line" style="font-size:12px;"></i>&nbsp; Print</a>
                                <a href="{% url 'other_expences:export_other_expenses' %}" class="btn btn-outline-dark btn-sm mb-0 mx-1"><i class="ri-upload-line" style="font-size:12px;"></i>&nbsp; Export</a>
                                <a href="{% url 'other_expences:create_other_expence' %}" class="btn bg-gradient-success btn-sm mb-0 mx-1"><i class="ri-add-line" style="font-size:12px;"></i>&nbsp; Add</a>
                                <div class="dropdown">
                                    <button class="btn bg-gradient-info dropdown-toggle btn-sm mb-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-filter-line" style="font-size:12px;"></i>&nbsp; Filter</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                                        <form action="." method="GET" class="px-4 py-3">
                                            <div class="form-group">
                                                <label for="inputField">Select Date</label>
                                                <input type="text" id="reportrange" class="form-control" name="date_range" value="{% if not filter_data.date_range %}{{first_date_formatted}} - {{last_date_formatted}}{% else %}{{filter_data.date_range}}{% endif %}" style="display: inline;width: max-content;">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputField">Expence Types</label>
                                                <select class="form-control" name="expence_type">
                                                    {% get_expence_types as e_types %}
                                                    <option value="">All</option>
                                                    {% for e in e_types %}
                                                    <option value="{{e.pk}}" {% if filter_data.expence_type|stringformat:"s" == e.pk|stringformat:"s" %}selected{% endif %}>{{e.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Apply</button>
                                        </form>
                                    </div>
                                </div>
                                {% if filter_data %}
                                <a href="." class="btn btn-info btn-sm mb-0 mx-1">Reset</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container">
                                <table class="table table-flush dataTable-table" id="products-list">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="width: 2;text-align:center !important;">#</th>
                                            <th style="text-align:center !important;">Date Added</th>
                                            <th style="text-align:start !important;">Expence Type</th>
                                            <th style="text-align:start !important;">Remark</th>
                                            <th style="text-align:right !important;">Amount</th>
                                            <th style="text-align:right !important;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% load el_pagination_tags %}
                                        {% paginate 20 instances %}
                                        {% for instance in instances %}
                                        <tr>
                                            <td class="text-sm text-center" style="">{{ forloop.counter }}</td>
                                            <td class="text-sm text-center">{{ instance.date_added|date:"d-M-Y" }}</td>
                                            <td class="text-sm text-start text-capitalize">{{ instance.expence_type.name }}</td>
                                            <td class="text-sm text-start text-capitalize">{{ instance.remark }}</td>
                                            <td class="text-sm text-end text-capitalize">{{ instance.amount }}</td>
                                            <td style="text-align:end !important;">
                                                <a href="{% url 'other_expences:edit_other_expence' pk=instance.pk %}" class="mx-3">
                                                    <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                                                </a>
                                                <a class="action-button remove" href="{% url 'other_expences:delete_other_expence' pk=instance.pk %}" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                    <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="font-weight-bold text-end" colspan="4">Grand Total: </td>
                                            <td class="font-weight-bold text-end">{{total_amount}}</td>
                                            <td class="font-weight-bold text-center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            {% comment %} <div class="clearfix"></div>
                            <div class="row pagi my-3">
                                <div class="col-sm-6 col-xs-6 text-start my-pagina">{% show_pages %}</div>
                                <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                                    <div class="m-t-10">
                                        Showing {{title}}
                                        <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                        class="current_end_status"></span> of <span
                                        class="total_count"></span>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            
                            {% get_pages %}
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">Showing {{ pages.current_start_index }} to {{ pages.current_end_index }} of {{ pages.total_count }} entries</div>
                                <nav class="dataTable-pagination">
                                    <ul class="dataTable-pagination-list">
                                        {% if pages.has_previous %}
                                        <li class="pager"><a href="#" data-page="{{ pages.previous_page_number }}">‹</a></li>
                                        {% endif %}
                                        {% for page_number in pages.paginator.page_range %}
                                        <li class="{% if page_number == pages.number %}active{% endif %}">
                                            <a href="#" data-page="{{ page_number }}">{{ page_number }}</a>
                                        </li>
                                        {% endfor %}
                                        {% if pages.has_next %}
                                        <li class="pager"><a href="#" data-page="{{ pages.next_page_number }}">›</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'admin_panel/includes/footer.html' %}
</div>
{% endblock content %}