{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="multisteps-form mb-5">
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                        <form action="." method="POST" enctype="multipart/form-data" class="multisteps-form__form mb-8 ajax redirect" style="height: 700px;">
                            {% csrf_token %}
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                                <h5 class="font-weight-bolder mb-0">Sales</h5>
                                <p class="mb-0 text-sm">Items Info</p>
                                <div class="multisteps-form__content">
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                            <label>Date</label>
                                            {{form.date}}
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <label>Country</label>
                                            {{form.country}}
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <label>Sales Party</label>
                                            {{form.sales_party}}
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="table-responsive card-body add_item_container sales_items_formset">
                                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                                            <thead>
                                                <tr>
                                                    <th data-column-id="image" colspan="4">Add Sales</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th style="min-width: 15px;">Items</th>
                                                <th style="min-width: 15px;">Qty</th>
                                                <th style="min-width: 15px;">Amount/KG</th>
                                                <th style="min-width: 15px;">Amount</th>
                                                <th style="min-width: 15px;"></th>
                                                {% for item in sales_items_formset.forms %}
                                                <tr class="form_set_row sales_items_formset">
                                                    {{item.id}}
                                                    <td>
                                                        <span class="sales_stock">
                                                            {{ item.sales_stock }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="qty">
                                                            {{ item.qty }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="per_kg_amount">
                                                            {{ item.per_kg_amount }}
                                                        </span>
                                                    </td>
                                                    <td class="">
                                                        <span class="amount">
                                                            {{ item.amount }}
                                                        </span>
                                                    </td>
                                                    <td class="delete">
                                                        {% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ sales_items_formset.management_form }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="table-responsive card-body add_item_container sales_expense_formset">
                                        <table id="data-table-basic" class="table table-striped table-vmiddle" style='margin-bottom:0 !important;'>
                                            <thead>
                                                <tr>
                                                    <th data-column-id="image" colspan="4">Add Sales Expenses</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th style="min-width: 15px;">Title</th>
                                                <th style="min-width: 15px;">Amount</th>
                                                <th style="min-width: 15px;"></th>
                                                {% for e_item in sales_expense_formset.forms %}
                                                <tr class="form_set_row sales_expense_formset">
                                                    {{e_item.id}}
                                                    <td>
                                                        <span class="title">
                                                            {{ e_item.title }}
                                                        </span>
                                                    </td>
                                                    <td class="">
                                                        <span class="amount">
                                                            {{ e_item.amount }}
                                                        </span>
                                                    </td>
                                                    <td class="delete">
                                                        {% if e_item.instance.pk %}{{ e_item.DELETE }}{% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ sales_expense_formset.management_form }}
                                    </div>
                                </div>

                                <div class="button-row d-flex mt-4">
                                    <button class="btn bg-gradient-dark ms-auto mb-0" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%include 'admin_panel/includes/footer.html' %}
</div>
{% endblock content %}
{% block static %}
{% load static %}
<style>
    .dynamic-formset-add td{
        text-align: center !important;
    }
    .dynamic-formset1-add td{
        text-align: center !important;
    }
    .sales_items_formset a.add-row::before{
        content: "+ Add"
    }
    .sales_items_formset a.remove::before{
        content: "Remove"
    }
    .sales_expense_formset a.add-row::before{
        content: "+ Add"
    }
    .sales_expense_formset a.remove::before{
        content: "Remove"
    }
</style>
<script>
    $(document).ready(function () {
        $('.sales_items_formset table tr.form_set_row').formset({
            prefix: '{{ sales_items_formset.prefix }}',
            formCssClass: 'dynamic-formset',

            'added': function (row) {
                
            },
        });
        $('.sales_expense_formset table tr.form_set_row').formset({
            prefix: '{{ sales_expense_formset.prefix }}',
            formCssClass: 'dynamic-formset1',

            'added': function (row) {
                
            },
        });
        
    });

    $(document).ready(function () {
        // Script to handle changing options of the sales-item select field
        $('#id_country').change(function () {
            var countryId = $(this).val();
            var url = "{% url 'sales:get_sales_product_items' %}";
            $.ajax({
                url: url,
                data: {'country_id': countryId},
                dataType: 'json',
                success: function (data) {
                    var options = '<option value="">Select</option>'; // Initialize options variable
                    $.each(data, function (index, item) {
                        options += '<option value="' + item.id + '">' + item.name + '</option>'; // Append each option
                    });
                    $('.sales-item').html(options); // Replace all options in the select field
                }
            });
        });

        // Script to handle updating the qty field
        $(".sales-item").change(function(){
            var itemValue = $(this).val();
            var digitValue = $(this).attr("id");
            digitValue = digitValue.match(/\d+/);

            if (digitValue !== null) {
                digitValue = digitValue[0];
            }

            var country = $('#id_country').val();
            var url = "{% url 'sales:sales_item_qty' %}";

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'item_pk': itemValue,
                    'country': country,
                },

                success: function (data) {
                    var qty = data['qty'];
                    $("#id_sales_items_formset-" + digitValue + "-qty").val(qty);
                },

                error: function (data) {
                    var title = data["title"];
                    var errorMessagesStr = data["responseJSON"]["message"];
                },
            });

        });
    });

    $('.amount_per_kg').keyup(function(){
        var elemId = $(this).attr("id");
        var formCount = elemId.match(/\d+/);
        var amount = parseFloat($(this).val()); // Parse the amount as a float
        var qtyValue = parseFloat($("#id_sales_items_formset-"+formCount+"-qty").val()); // Parse the qtyValue as a float
    
        var totalAmount = qtyValue * amount;
    
        // Limit the totalAmount to two decimal places and update the field
        $("#id_sales_items_formset-"+formCount+"-amount").val(totalAmount.toFixed(2));
    });
    
</script>
{% endblock static %}