{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="multisteps-form mb-5">
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                        <form action="." method="POST" enctype="multipart/form-data" class="multisteps-form__form mb-8 ajax redirect" style="height: 700px;">
                            {% csrf_token %}
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                                <h5 class="font-weight-bolder mb-0">Export</h5>
                                <p class="mb-0 text-sm">Export info</p>
                                <div class="multisteps-form__content">
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-6">
                                            <label>Date</label>
                                            {{exporting_form.date}}
                                        </div>
                                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                            <label>Exporting Country</label>
                                            {{exporting_form.exporting_country}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <label>Courier Partner</label>
                                            {{exporting_form.courier_partner}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="table-responsive card-body add_item_container exporting_items_formset">
                                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                                            <thead>
                                                <tr>
                                                    <th data-column-id="image" colspan="4">Add Exporting Items</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th style="min-width: 15px;">Items</th>
                                                <th style="min-width: 15px;">QTY</th>
                                                <th style="min-width: 15px;"></th>
                                                {% for item in exporting_items_formset.forms %}
                                                <tr class="form_set_row exporting_items_formset">
                                                    {{item.id}}
                                                    <td>
                                                        <span class="purchasestock">
                                                            {{ item.purchasestock }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="qty">
                                                            {{ item.qty }}
                                                        </span>
                                                    </td>
                                                    <td class="delete">
                                                        {% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ exporting_items_formset.management_form }}
                                    </div>
                                </div>

                                {% comment %} <div class="row">
                                    <div class="table-responsive card-body add_item_container exporting_expense_formset">
                                        <table id="data-table-basic" class="table table-striped table-vmiddle" style='margin-bottom:0 !important;'>
                                            <thead>
                                                <tr>
                                                    <th data-column-id="image" colspan="4">Add Exporting Expenses</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th style="min-width: 15px;">Title</th>
                                                <th style="min-width: 15px;">Amount</th>
                                                <th style="min-width: 15px;"></th>
                                                {% for e_item in exporting_expense_formset.forms %}
                                                <tr class="form_set_row exporting_expense_formset">
                                                    {{e_item.id}}
                                                    <td>
                                                        <span class="title">
                                                            {{ e_item.title }}
                                                        </span>
                                                    </td>
                                                    <td class="">
                                                        <span class="amount">
                                                            {{ e_item.amount }}
                                                        </span>
                                                    </td>
                                                    <td class="delete">
                                                        {% if e_item.instance.pk %}{{ e_item.DELETE }}{% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ exporting_expense_formset.management_form }}
                                    </div>
                                </div> {% endcomment %}

                                <div class="button-row d-flex mt-4">
                                    <button class="btn bg-gradient-dark ms-auto mb-0" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%include 'admin_panel/includes/footer.html' %}
</div>
{% endblock content %}
{% block static %}
{% load static %}
<style>
    .dynamic-formset-add td{
        text-align: center !important;
    }
    .dynamic-formset1-add td{
        text-align: center !important;
    }
    .exporting_items_formset a.add-row::before{
        content: "+ Add"
    }
    .exporting_items_formset a.remove::before{
        content: "Remove"
    }
</style>
<script>
    $(document).ready(function () {
        $('.exporting_items_formset table tr.form_set_row').formset({
            prefix: '{{ exporting_items_formset.prefix }}',
            formCssClass: 'dynamic-formset',

            'added': function (row) {
                
            },
        });
    });
</script>
<script>
    $(".purchase-item").change(function(){
        var itemValue = $(this).val();
        var digitValue = $(this).attr("id");
        var digitValue = digitValue.match(/\d+/);

        if (digitValue !== null) {
            var digitValue = digitValue[0];
        }

        var url = "{% url 'exporting:product_item_qty' %}"

        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            data: {
                'purchase_item': itemValue,
            },
    
            success: function (data) {
                var qty = data['qty'];
                $("#id_exporting_items_formset-"+digitValue+"-qty").val(qty);
            },
    
            error: function (data) {
                var title = data["title"];
                var errorMessagesStr = data["responseJSON"]["message"];
            },
        });

    });

    $('.amount_per_kg').keyup(function(){
        var elemId = $(this).attr("id");
        var formCount = elemId.match(/\d+/);
        var amount = parseFloat($(this).val()); // Parse the amount as a float
        var qtyValue = parseFloat($("#id_exporting_items_formset-"+formCount+"-qty").val()); // Parse the qtyValue as a float
    
        var totalAmount = qtyValue * amount;
    
        // Limit the totalAmount to two decimal places and update the field
        $("#id_exporting_items_formset-"+formCount+"-amount").val(totalAmount.toFixed(2));
    });
</script>
{% endblock static %}