{% extends 'admin_panel/base.html' %}
{% load static %}
{% load main_templates_tags %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
    
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">List View</h5>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto d-flex ">
                                <a href="{% url 'exporting:print_exporting' %}" class="btn btn-outline-warning btn-sm mb-0 mx-1" target="_blank"><i class="ri-printer-line" style="font-size:12px;"></i>&nbsp; Print</a>
                                <a href="{% url 'exporting:export_exporting' %}" class="btn btn-outline-dark btn-sm mb-0 mx-1"><i class="ri-upload-line" style="font-size:12px;"></i>&nbsp; Export</a>
                                <a href="{% url 'exporting:create_exporting' %}" class="btn bg-gradient-success btn-sm mb-0 mx-1"><i class="ri-add-line" style="font-size:12px;"></i>&nbsp; Add</a>
                                <div class="dropdown">
                                    <button class="btn bg-gradient-info dropdown-toggle btn-sm mb-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-filter-line" style="font-size:12px;"></i>&nbsp; Filter</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                                        <form action="." method="GET" class="px-4 py-3">
                                            <div class="form-group">
                                                <label for="inputField">Select Date</label>
                                                <input type="text" id="reportrange" class="form-control" name="date_range" value="{% if not filter_data.date_range %}{{first_date_formatted}} - {{last_date_formatted}}{% else %}{{filter_data.date_range}}{% endif %}" style="display: inline;width: max-content;">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputField">Purchase Party</label>
                                                <select class="form-control" name="country_name">
                                                    {% get_countries as countries %}
                                                    <option value="">All</option>
                                                    {% for c in countries %}
                                                    <option value="{{c.pk}}" {% if filter_data.country_name|stringformat:"s" == c.pk|stringformat:"s" %}selected{% endif %}>{{c.country_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputField">Courier Partners</label>
                                                <select class="form-control" name="courier_partner">
                                                    {% get_courier_partners as Partners %}
                                                    <option value="">All</option>
                                                    {% for c in Partners %}
                                                    <option value="{{c.pk}}" {% if filter_data.courier_partner|stringformat:"s" == c.pk|stringformat:"s" %}selected{% endif %}>{{c.name}} - {{c.employee_id}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputField">Current Status</label>
                                                <select class="form-control" name="courier_status">
                                                    {% get_courier_status as c_status %}
                                                    <option value="">All</option>
                                                    {% for c in c_status %}
                                                        <option value="{{ c.0 }}" {% if filter_data.courier_status == c.0 %}selected{% endif %}>{{ c.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Apply</button>
                                        </form>
                                    </div>
                                </div>
                                {% if filter_data %}
                                <a href="." class="btn btn-info btn-sm mb-0 mx-1">Reset</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container">
                                <table class="table table-flush dataTable-table" id="products-list">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="width: 2;text-align:center !important;">#</th>
                                            <th style="text-align:center !important;">Date</th>
                                            <th style="text-align:center !important;">Exporting ID</th>
                                            <th style="text-align:center !important;">Country</th>
                                            <th style="text-align:center !important;">Courier Partner</th>
                                            <th style="text-align:center !important;">Current Status</th>
                                            <th style="text-align:right !important;">QTY</th>
                                            <th style="text-align:right !important;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% load el_pagination_tags %}
                                        {% paginate 20 instances %}
                                        {% for instance in instances %}
                                        <tr>
                                            <td class="text-sm" style="text-align:center !important;">{{ forloop.counter }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.date }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.exporting_id }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.exporting_country.country_name }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.courier_partner.employee_id }}</td>
                                            <td class="text-sm" style="text-align:center !important;">
                                                {% if instance.current_status == "010" %}
                                                <span class="badge bg-gradient-warning" data-bs-toggle="modal" data-bs-target="#exampleModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% elif instance.current_status == "015" %}
                                                <span class="badge bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% elif instance.current_status == "020" %}
                                                <span class="badge bg-gradient-info" data-bs-toggle="modal" data-bs-target="#exampleModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% elif instance.current_status == "025" %}
                                                <span class="badge bg-gradient-success" data-bs-toggle="modal" data-bs-target="#DelivedModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-sm" style="text-align:right !important;">{{ instance.total_qty }}</td>
                                            <td style="text-align:right !important;">
                                                <a href="{% url 'exporting:exporting' pk=instance.pk %}" data-bs-toggle="tooltip" data-bs-original-title="Preview">
                                                    <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                                                </a>
                                                <a href="{% url 'exporting:edit_exporting' pk=instance.pk %}" class="mx-3">
                                                    <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                                                </a>
                                                <a class="action-button remove" href="{% url 'exporting:delete_exporting' pk=instance.pk %}" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                    <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% get_pages %}
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">Showing {{ pages.current_start_index }} to {{ pages.current_end_index }} of {{ pages.total_count }} entries</div>
                                <nav class="dataTable-pagination">
                                    <ul class="dataTable-pagination-list">
                                        {% if pages.has_previous %}
                                        <li class="pager"><a href="#" data-page="{{ pages.previous_page_number }}">‹</a></li>
                                        {% endif %}
                                        {% for page_number in pages.paginator.page_range %}
                                        <li class="{% if page_number == pages.number %}active{% endif %}">
                                            <a href="#" data-page="{{ page_number }}">{{ page_number }}</a>
                                        </li>
                                        {% endfor %}
                                        {% if pages.has_next %}
                                        <li class="pager"><a href="#" data-page="{{ pages.next_page_number }}">›</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'admin_panel/includes/footer.html' %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form action="{% url 'exporting:update_expoting_status' %}" method="POST" enctype="multipart/form-data" class="ajax redirect">
            <div class="modal-body">
                {% csrf_token %}
                {% comment %} <input type="hidden" name="export_id" class="form-control" id="exportIdModalField"> {% endcomment %}
                {{status_form.export_id}}
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Status:</label>
                    {{status_form.status}}
                    {% comment %} <select class="form-control" id="exportStatusField">
                        <option value="">Select Status</option>
                        <option value="010">Pending</option>
                        <option value="015">Shipped</option>
                        <option value="020">Out of Delivery</option>
                        <option value="025">Delived</option>
                    </select> {% endcomment %}
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Caption:</label>
                    {{status_form.caption}}
                    {% comment %} <textarea class="form-control" id="message-text"></textarea> {% endcomment %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-gradient-primary" >Submit</button>
            </div>
        </form>
      </div>
    </div>
</div>

<!-- Delived Modal -->
<div class="modal fade" id="DelivedModalMessage" tabindex="-1" role="dialog" aria-labelledby="DelivedModalMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-success">
            <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="text-center text-white py-3">
                    <p class="p-0 m-0">This is Item Delivered.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block static %}
{% load static %}
<script>
    function handleButtonClick(button) {
        var exportId = $(button).attr("data-unique_id");
        $("#exportIdModalField").val(exportId);
    };

    function clearForm() {
        // Clear the form fields
        document.getElementById('exportIdModalField').value = '';
        document.getElementById('exportStatusField').value = '';
      }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var defaultDateRange = "{{ filter_data.date_range }}";
    
        if (defaultDateRange) {
            $('#reportrange').val(defaultDateRange);
        }
        $('#reportrange').daterangepicker({
            autoApply: true,
            locale: {
                format: 'MM/DD/YYYY'
            }
        });
    });
</script>
{% endblock static %}