{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
    
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">List View</h5>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <a href="{% url 'exporting:create_exporting' %}" class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container">
                                <table class="table table-flush dataTable-table" id="products-list">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="width: 2;text-align:center !important;">#</th>
                                            <th style="text-align:center !important;">Date</th>
                                            <th style="text-align:center !important;">Exporting ID</th>
                                            <th style="text-align:center !important;">Country</th>
                                            <th style="text-align:center !important;">Courier Partner</th>
                                            <th style="text-align:center !important;">Current Status</th>
                                            <th style="text-align:right !important;">QTY</th>
                                            <th style="text-align:right !important;">Amount</th>
                                            <th style="text-align:right !important;">Expence</th>
                                            <th style="text-align:right !important;">Grand Total</th>
                                            <th style="text-align:right !important;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% load el_pagination_tags %}
                                        {% paginate 20 instances %}
                                        {% for instance in instances %}
                                        <tr>
                                            <td class="text-sm" style="text-align:center !important;">{{ forloop.counter }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.date }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.exporting_id }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.exporting_country.country_name }}</td>
                                            <td class="text-sm" style="text-align:center !important;">{{ instance.courier_partner.employee_id }}</td>
                                            <td class="text-sm" style="text-align:center !important;">
                                                {% if instance.current_status == "Pending" %}
                                                <span class="badge bg-gradient-warning" data-bs-toggle="modal" data-bs-target="#exampleModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% elif instance.current_status == "Shipped" %}
                                                <span class="badge bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% elif instance.current_status == "Out of Delivery" %}
                                                <span class="badge bg-gradient-info" data-bs-toggle="modal" data-bs-target="#exampleModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% elif instance.current_status == "Delived" %}
                                                <span class="badge bg-gradient-success" data-bs-toggle="modal" data-bs-target="#DelivedModalMessage" data-unique_id="{{instance.pk}}" onclick="handleButtonClick(this)">{{ instance.current_status }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-sm" style="text-align:right !important;">{{ instance.total_qty }}</td>
                                            <td class="text-sm" style="text-align:right !important;">{{ instance.items_total_amount }}</td>
                                            <td class="text-sm" style="text-align:right !important;">{{ instance.items_total_expense }}</td>
                                            <td class="text-sm" style="text-align:right !important;">{{ instance.sub_total }}</td>
                                            <td style="text-align:right !important;">
                                                <a href="{% url 'exporting:exporting' pk=instance.pk %}" data-bs-toggle="tooltip" data-bs-original-title="Preview">
                                                    <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                                                </a>
                                                <a href="{% url 'exporting:edit_exporting' pk=instance.pk %}" class="mx-3">
                                                    <i class="fas fa-user-edit text-secondary" aria-hidden="true"></i>
                                                </a>
                                                <a class="action-button remove" href="{% url 'exporting:delete_exporting' pk=instance.pk %}" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                    <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            {% comment %} <div class="clearfix"></div>
                            <div class="row pagi my-3">
                                <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                                <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                                    <div class="m-t-10">
                                        Showing {{title}}
                                        <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                        class="current_end_status"></span> of <span
                                        class="total_count"></span>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            
                            {% get_pages %}
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">Showing {{ pages.current_start_index }} to {{ pages.current_end_index }} of {{ pages.total_count }} entries</div>
                                <nav class="dataTable-pagination">
                                    <ul class="dataTable-pagination-list">
                                        <li class="pager"><a href="#" data-page="1">‹</a></li>
                                        <li class="active"><a href="#" data-page="1">1</a></li>
                                        <li class=""><a href="#" data-page="2">2</a></li>
                                        <li class=""><a href="#" data-page="3">3</a></li>
                                        <li class="pager"><a href="#" data-page="2">›</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'admin_panel/includes/footer.html' %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form action="{% url 'exporting:update_expoting_status' %}" method="POST" enctype="multipart/form-data" class="ajax redirect">
            <div class="modal-body">
                {% csrf_token %}
                {% comment %} <input type="hidden" name="export_id" class="form-control" id="exportIdModalField"> {% endcomment %}
                {{status_form.export_id}}
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Status:</label>
                    {{status_form.status}}
                    {% comment %} <select class="form-control" id="exportStatusField">
                        <option value="">Select Status</option>
                        <option value="010">Pending</option>
                        <option value="015">Shipped</option>
                        <option value="020">Out of Delivery</option>
                        <option value="025">Delived</option>
                    </select> {% endcomment %}
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Caption:</label>
                    {{status_form.caption}}
                    {% comment %} <textarea class="form-control" id="message-text"></textarea> {% endcomment %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-gradient-primary" >Submit</button>
            </div>
        </form>
      </div>
    </div>
</div>

<!-- Delived Modal -->
<div class="modal fade" id="DelivedModalMessage" tabindex="-1" role="dialog" aria-labelledby="DelivedModalMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-success">
            <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="text-center text-white py-3">
                    <p class="p-0 m-0">This is Item Delivered.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block static %}
{% load static %}
<script>
    function handleButtonClick(button) {
        var exportId = $(button).attr("data-unique_id");
        $("#exportIdModalField").val(exportId);
    };

    function clearForm() {
        // Clear the form fields
        document.getElementById('exportIdModalField').value = '';
        document.getElementById('exportStatusField').value = '';
      }
  </script>
{% endblock static %}