{% load static %}
<!-- jQuery  -->
<script src="{% static 'admin_panel/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/moment.js' %}"></script>  
<script src="{% static 'admin_panel/assets/sweet/sweetalert2.js' %}"></script>
<script src="{% static 'admin_panel/assets/sweet/actions.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/jquery.formset.js' %}"></script>

<!--   Core JS Files   -->
<script src="{% static 'admin_panel/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/plugins/chartjs.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js' %}"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'admin_panel/assets/js/multiple-form.js' %}?v=1.0.7"></script>
<script src="{% static 'admin_panel/assets/js/soft-ui-dashboard.min.js' %}?v=1.0.7"></script>