{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}}</title>
        <link href="{% static 'admin_panel/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        {% comment %} {% load sales_templates_tags %} {% endcomment %}
    </head>
    <body>
        <div class="page-wrapper ml-0">
            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">{{page_title}}</h4>
                                    </div><!--end col-->
                                    
                                </div><!--end row-->                                                              
                            </div><!-- end page-title-box -->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="table-responsive-sm">
                                        <table class="table mb-0" style="width:100%;" border="1">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Damage ID</th>
                                                    <th class="text-center">Date</th>
                                                    <th class="text-center">Country</th>
                                                    <th class="text-center">Items</th>
                                                    <th class="text-center">Total QTY</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for damage in instances %}
                                                <tr>
                                                    <td class="text-center">{{ forloop.counter }}</td>
                                                    <td class="text-center">{{ damage.damage_id }}</td>
                                                    <td class="text-center">{{ damage.date }}</td>
                                                    <td class="text-center">{{ damage.country.country_name }}</td>
                                                    <td class="meterial-row">
                                                        <table class="table mb-0" style="width:100%;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Title</th>
                                                                    <th class="text-center">Weight Type</th>
                                                                    <th class="text-center">No.Boxes</th>
                                                                    <th class="text-center">QTY</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for d_item in damage.damageitems_set.all %}
                                                                <tr>
                                                                    <td class="capital-field">{{ d_item.stock_item.purchase_item.name }}</td>
                                                                    <td class="capital-field text-center">{{ d_item.get_weight_type_display }}</td>
                                                                    <td class="text-center">{% if d_item.weight_type != "qty" %}{{ d_item.no_boxes }}{% else %}-{% endif %}</td>
                                                                    <td class="capital-field text-center">{{ d_item.qty }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="text-center">{{ damage.total_qty }}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->
                        </div> <!-- end col -->
                    </div>
                </div><!-- container -->
                <!-- end page content -->
            </div>
            <!-- end page-wrapper -->
        </div>
        {% include 'admin_panel/includes/js.html' %}
        <script>
            $(document).ready(function(){
                window.print();
            });
        </script>
    </body>
</html>